<!DOCTYPE html>
<html>

<head>
    <title>Catch Up Revision</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>⚡ Catch Up Last 7 Days</h1>

    <a href="/" class="btn">
        ← Back Home
    </a>

    <br><br>

    <div class="card">

        <h2>📰 Top 20 Important Events</h2>

        <ol>

        {% for article in news %}

            <li>
                {{ article[1] }}
            </li>

        {% endfor %}

        </ol>

    </div>

    <div class="card">

        <h2>🎯 Top 5 UPSC Topics</h2>

        <ol>

        {% for topic,count in topics %}

            <li>
                {{ topic }} ({{ count }} Articles)
            </li>

        {% endfor %}

        </ol>

    </div>

</div>

</body>
</html>
